.topnav-right {
    float: right;
  }


  .topnav{

  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box-shadow for a line effect */

  }
  .use-cases{
      display:inline-block;
      margin-right: 300px; 

  }

  h1.hero-right {
    float: right;
  }

  h1.dashHeader {
  font-size: 40px
  }
 
  p.hero-right {
    float: right;
  }

  .dashimages img{
    size: 10px;
  }
  .loginbt{
    display: inline;
    background-color: black; /* Green */
    color: white;
  }

  #wrapper {
    display:flex
}
  .signinbt{
    display: inline;
    background-color: black; /* Green */
    color: white;
    margin-right: 5px;
  }

  .rounded-box {

    background-color: #D3D3D3;
    
    border-radius: 20px;
    
    padding: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    background-color: gray;
    width: auto; /* Adjust the width as needed */
  }

  .rounded-box-footer {

    background-color: white;
    
    border-radius: 10px;
    
    padding: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    background-color: white;
    width: auto; /* Adjust the width as needed */
  }
  .registerbt{
    display: inline;
  
  }
  .buttonblack {
    background-color: black; /* Green */
    color: white;
   
  }

  .hero-image {
    float: left;
    width: 40%;
    margin-right: 20px;
    border-radius: 5px;
  }

  .dash-image{
    display:inline-block;
    width: 40%;

  }

  .container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    overflow: hidden; /* or auto or scroll */
  }

  .contact-info{
    width:auto;
    display:inline-block;
    margin-right: 100px; 

  }

  div #filter.card{

    float:left; 
    margin: 10px auto;
    width: auto;

    
  }

  .filterButton{
    border-radius: 5px;
    background-color: rgba(gray, 0.5);
    cursor: pointer;
    border:none


  }
  .hero {
    text-align: center;
    background: gray;
    padding: 50px 20px;

  }

  .dashheaderparagraph{
    font-size: 20px;
  }

  .dashhero {
    text-align: center;
    padding: 50px 20px;

  }
  /* Testimonials Section. */
.testimonials {
    background: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
  }
  
  .testimonials h2 {
    margin-bottom: 20px;
    
  }

  .cards {
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    background: white;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    

    /* width: 300px;
    padding: 20px;
    margin: 50px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif; */
  }

  .logincard{
      background: white;
      margin: 50px auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      width: 300px;
  }

  .get-started {
    text-align: center;
    background: gray;
    padding: 50px 20px;
  }
  
